body {
    margin: 0;
    overflow: hidden;
}

#particles-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.paticle {
    position: absolute;
    background-color: #fff;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    pointer-events: none;
    animation: particles 2s infinite;
}

@keyframes particles {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}