@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* Light */
    --color-light-50:#f4fafc;
    /* Purple */
    --color-purple-50:#7c3aed;
    --color-purple-100:#a855f7;
    --color-purple-200:#bf46ef;


    /* gradiente */
    --color-gradient:linear-gradient(90deg,var(--color-purple-50), var(--color-purple-100) , var(--color-purple-200));
}

@keyframes animation_background {
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 100%;
    }
}


*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

#container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-gradient);
  
}

#login_form{
    display: flex;
    flex-direction:column ;
    height: fit-content;
    background-color: var(--color-light-50);
    padding: 40px 50px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.336);
}

#form_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form_header h1{
    font-size: 40px;
    position: relative;
}

#form_header h1::before{
    position: absolute;
    content: ' ';
    width: 0%;
    height: 3px;
    background-color: var(--color-purple-50);
    bottom: 10px;
    border-radius: 10px;
    transition: .7s;
}   

#form_header h1:hover::before{
    width: 40%;
}

#mode_icon{
    cursor: pointer;
    font-size: 20px;
}

#social_media{
    display: flex;
    justify-content: space-around;
}

#social_media i{
    font-size: 20px;
    transition: .5s;
}


#social_media i:hover{
    transform: scale(1.2);
}

#inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.input-box > label{
    font-size: 14px;
    color: var(--color-purple-50);
}

.input-field{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    border-bottom: 1px solid var(--color-purple-50);
    cursor: text;
}

.input-field input{
    outline: none;
    border: none;
    background-color: transparent;
}

#eyeview{
    cursor: pointer;
}

#div_password{
    width: 90%;
}

#eyeview{
    position: relative;
    right: 20px;
}

#forgot_password a{
    display: block;
    color: var(--color-purple-50);
    text-decoration: none;
    margin-top: 30px;
}

#forgot_password a:hover{
    text-decoration: underline;
}

#login_button{
    display: block;
    background: var(--color-gradient);
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    cursor: pointer;
    transition: .5s;
}

#login_button:hover{
    background-size: 300% 100%;
    animation: animation_background 4s linear infinite alternate;
}

/* darkmode */

body.active #container{
    background: rgb(19, 18, 18);
}

body.active #login_form{
    background-color: var(--color-purple-50);
    color: white;
}

body.active #form_header h1::before{
    background-color: var(--color-purple-200);
}

body.active #social_media i{
    color: var(--color-light-50);
}

body.active #social_media i:hover{
    color: var(--color-purple-200);
}

body.active .input-field input{
    background-color: var(--color-purple-50);
    outline: none;
}

body.active .input-box > label{
    color: var(--color-light-50);
}

body.active .input-field{
    border-bottom: 1px solid var(--color-light-50);
}

body.active #forgot_password a{
    color: var(--color-light-50);
}

body.active #login_button{
    background: var(--color-purple-200)
}


